@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans';
}

.main {
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 300px;
    width: 400px;
    border: 1px solid #bbbb;
    border-radius: 20px;
    padding: 20px 25px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
}

#txtField {
    position: relative;
    left: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-family: 'Dm Sans';
}

#txtField:hover {
    background-color: #edede9;
}